ekf_filter_node:
  ros__parameters:
    frequency: 50.0
    sensor_timeout: 0.2
    two_d_mode: true
    publish_tf: true
    publish_acceleration: false

    map_frame: map
    odom_frame: odom
    base_link_frame: base_footprint
    world_frame: odom

    odom0: /odom_raw
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false
    odom0_config:
      [true,  true,  false,
       false, false, true,
       true,  true,  false,
       false, false, true,
       false, false, false]

